<div class="form">
  <h1>Prijava</h1>
  <form [formGroup]="loginForm" (submit)="ngOnSubmit()">
    <div class="login-form-container">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Uporabniško ime</mat-label>
        <input
          matInput
          formControlName="username"
          [errorStateMatcher]="matcher"
        />
        <mat-error> Prosim vnesite uporabniško ime </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Geslo</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          [errorStateMatcher]="matcher"
        />
        <mat-error> Prosim vnesite geslo </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Prijava</button>
    </div>
  </form>
</div>
