.link {
  margin-top: 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
