<div class="form">
  <h1>Prošnja za delo</h1>
  <form>
    <div class="form-container">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Ime</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Priimek</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Naslov</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Motivacijsko pismo </mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary">Dodaj</button>
    </div>
  </form>
</div>
