<div class="admin">
  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
      *ngFor="let submition of pagedSubmissions; let i = index"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ submition.firstName }} {{ submition.lastName }}
        </mat-panel-title>
        <mat-panel-description>
          {{ submition.address }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{ submition.motivationalLetter }}</p>
      <p>
        <mat-slider
          min="0"
          max="5"
          step="1"
          [value]="pagedSubmissions[i].rating"
          (input)="changeValue($event, i)"
        >
          <input matSliderThumb />
        </mat-slider>
      </p>
      <p>Ocena: {{ this.pagedSubmissions[i].rating }} / 5</p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-paginator
    *ngIf="allSubmissions.length > 5"
    [length]="allSubmissions.length"
    [pageSize]="5"
    aria-label="Select page"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
